helv = 'Helvetica Neue', 'Helvetica', sans-serif

body
  font-family: helv
  color: #333
  width: 600px
  margin-left: auto
  margin-right: auto
  margin-top: 40px

.intro
  margin-bottom: 30px
  vertical-align: center
  .logo
    height: 140px
  .weather
    display: inline-block;
    margin-left: 20px;
    p
      margin-top: 0
      margin-bottom: 0
      text-align: center
    .loc
      font-size: 18px
      font-weight: 300
    .hilo
      font-size: 24px
      font-weight: 400
    .weather-icon
      height: 125px
      margin-top: -20px
      margin-bottom: -20px

.greeting
  margin-bottom: 20px
  .first, .second
    margin-top: 0
    margin-bottom: 10px
  .first
    font-size: 40px
    font-weight: 500
  .second
    font-size: 36px
    font-weight: 400

.prompt
  font-size: 24px
  font-weight: 300

.response
  .textbox
    width: 99%
    margin-top: 5px
    margin-bottom: 15px
    font-family: helv
    font-size: 16px
    font-weight: 300
    border-radius: 5px
    border: 1px solid rgba(0, 0, 0, 0.1)
  .submit
    width: 400px
    margin-left: auto
    margin-right: auto
    margin-top: 10px
    display: block
    height: 60px
    border: none
    color: white
    background-color: #00b2f5
    border-radius: 8px
    font-family: helv
    font-size: 28px
    font-weight: 300
